name: Build Docker Image

on: workflow_dispatch

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Build the Docker image
      run: cd Test/test/1.0.0/docker/ && docker build -t hvgazula/test:tm-sim .
      
      # Push the Docker image to Docker Hub (only if the PR is merged)
    - name: Push Docker image
      run: |
        docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}
        docker push hvgazula/test:tm-sim
